body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #262C36;
    width: 100%;
}

/* Conteúdo */
section {
    background-color: #262C36;
    color: white;
    display:block;
    width: 30%;
    height: 40%;
    margin: auto;
}

nav {
    display: flex;
}

/* Manter o menu lateral e fixado */
nav ul {
    margin: 0;
    padding: 0;
    width: 10%;
    height: 100%;
    position: fixed;
    background-color: #28303F;
}

/* Tirar caracteristica padrão da lista */
nav ul li {
    list-style-type: none;
}

/* Formato dos elementos do menu */
nav ul li a {
    display: block;
    background-color: gray;
    text-decoration: none;
    color: yellow;
    background-color: #28303F;
    padding: 5px;
    margin-bottom: 1px;
    text-align: center;
}

/* Hover para quando passar o mouuse no menu */
nav a:hover{
    color: white;
    background-color: #414347;
}

/* Formato padrão para os inputs */
input {
    margin: 5px;
    width: 200px;
    height: 20px;
}

/* Altera a cor do background ao clicar no input */
input:focus {
    background-color: #283652;
    color: white;

}

/* Estilização do botão "criar torneio" */

.botaoCriar {
    background-color: #28303F;
    width: 80%;
    height: 40px;
    border: solid 2px;
    border-color: black;
    color: white;
}

/* Hover no botão "criar torneio" */
.botaoCriar:hover {
    background-color: yellow;
    color: black;
    cursor: pointer;
}

/* Estilização dos elementos do formulário "criarTorneio" */
.formGeral {
    border: solid 2px;
    border-radius: 20px;
    border-color: #283652;
    text-align: center;
    height: 20%;
    width: 100%;
    padding: 10%;
    margin-top: 20%;
}

/* Formatação mensagem de torneio criado com sucesso! */
.msgSucesso {
    font-size: 20px;
}

.table-buscar-torneio {
    border: solid 2px;
    border-color: #283652;
    width: 100%;
    color: yellow;
    margin-top: 20px;
    border-radius: 20px;
    display: inline-block;
}

table input {
    background-color: #28303F;
    width: 90%;
    height: 30px;
    border: solid 2px;
    border-color: black;
    color: white;
    border-radius: 20px;
}


table input:hover {
    background-color: yellow;
    color: black;
    cursor: pointer;
}

table td {
    border: solid 1px;
    border-color: #283652;
    border-radius: 15px;
}

table th{
    color: yellow;
    padding: 1%;
}

.times-incritos {
    border: solid 2px;
    border-radius: 20px;
    border-color: #283652;
    text-align: center;
    height: 20%;
    width: 100%;
    padding: 5%;
    padding-top: 1%;
    margin-top: 5%;
}

.ver-confrontos{
    border: solid 2px;
    border-radius: 20px;
    border-color: #283652;
    text-align: center;
    height: 20%;
    width: 100%;
    padding: 5%;
    padding-top: 1%;
    margin-top: 5%;
}

.table-confronto{
    background-color: black;
    margin-top: 2%;
}

.td-times{
    background-color: #4c5161;
    border: solid 0px;
    border-radius: 0px;
    width: 104px;
    height: 20px;
    font-size: 12px;
}

.td-reshalf1{
    background-color: #4c5161;
    border: solid 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
}
.td-reshalf2{
    background-color: #4c5161;
    border: solid 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
}
.th-mapa{
    background-color: #4c5161;
    color: white;
    border: solid 0px;
    border-radius: 0px;
    width: 200px;
    height: 20px;
    font-size: 12px;
    text-align: center;
}
.th-categoria{
    margin-top: 50%;
    background-color: #4c5161;
    color: white;
    border: solid 0px;
    border-radius: 0px;
    width: 200px;
    height: 20px;
    font-size: 12px;
    text-align: center;
}

#selectCategoria {
    width: 20%;
    height: 24px;
    text-align: center;

}

#selectTime1 {
    width: 20%;
    height: 24px;
    text-align: center;
}

#selectTime2 {
    width: 20%;
    height: 24px;
    text-align: center;
}
